{% extends 'admin/modal.html' %}

{% block modal_id %}addMoneyModal{% endblock modal_id %}

{% block modal_label1 %}{% block modal_label2 %}addMoneyModalLabel{% endblock modal_label2 %}{% endblock modal_label1 %}

{% block modal_title %}Добавить средства на счёт{% endblock modal_title %}

{% block action_url %}{% url 'admin:add_money' %}{% endblock action_url %}

{% block modal_form_id %}idaddMoneyModalForm{% endblock modal_form_id %}

{% block modal_body %}
    <div id="id_add_money_errors"></div>
    <div class="form-group g-3">
        <label for="id_add_money">Введите средства, которые хотите положить на счёт</label>
        <input id="id_add_money" type="number" class="form-control" min="0" name="add_money">
    </div>
{% endblock modal_body %}

{% block modal_footer_submit_button %}success{% endblock modal_footer_submit_button %}

{% block modal_footer_submit_button_label %}Добавить{% endblock modal_footer_submit_button_label %}