{% extends 'admin/modal.html' %}

{% block modal_id %}sellPeachesModal{% endblock modal_id %}

{% block modal_label1 %}{% block modal_label2 %}sellPeachesModalLabel{% endblock modal_label2 %}{% endblock modal_label1 %}

{% block modal_title %}Продать персики{% endblock modal_title %}

{% block action_url %}{% url 'admin:sell_peaches' %}{% endblock action_url %}

{% block modal_form_id %}idSellPeachesModalForm{% endblock modal_form_id %}

{% block modal_body %}
    <div id="id_sell_peaches_errors"></div>
    <div class="form-group g-3">
        <label for="id_sell_peaches_count">Введите количество персиков, которое хотите продавать</label>
        <input id="id_sell_peaches_count" type="number" class="form-control" min="0" name="peaches_count">
    </div>
    <div class="form-group g-3">
        <label for="id_sell_peaches_seconds">Введите частоту продажей, в секундах</label>
        <input id="id_sell_peaches_seconds" type="number" class="form-control" min="0" name="peaches_seconds">
    </div>
{% endblock modal_body %}

{% block modal_footer_submit_button %}danger{% endblock modal_footer_submit_button %}

{% block modal_footer_submit_button_label %}Продать{% endblock modal_footer_submit_button_label %}