{% extends 'admin/modal.html' %}

{% block modal_id %}sellBananasModal{% endblock modal_id %}

{% block modal_label1 %}{% block modal_label2 %}sellBananasModalLabel{% endblock modal_label2 %}{% endblock modal_label1 %}

{% block modal_title %}Продать бананы{% endblock modal_title %}

{% block action_url %}{% url 'admin:sell_bananas' %}{% endblock action_url %}

{% block modal_form_id %}idSellBananasModalForm{% endblock modal_form_id %}

{% block modal_body %}
    <div id="id_sell_bananas_errors"></div>
    <div class="form-group g-3">
        <label for="id_sell_bananas_count">Введите количество бананов, которое хотите продавать</label>
        <input id="id_sell_bananas_count" type="number" class="form-control" min="0" name="bananas_count">
    </div>
    <div class="form-group g-3">
        <label for="id_sell_bananas_seconds">Введите частоту продаж, в секундах</label>
        <input id="id_sell_bananas_seconds" type="number" class="form-control" min="0" name="bananas_seconds">
    </div>
{% endblock modal_body %}

{% block modal_footer_submit_button %}danger{% endblock modal_footer_submit_button %}

{% block modal_footer_submit_button_label %}Продать{% endblock modal_footer_submit_button_label %}