{% extends 'admin/modal.html' %}

{% block modal_id %}sellPineapplesModal{% endblock modal_id %}

{% block modal_label1 %}{% block modal_label2 %}sellPineapplesModalLabel{% endblock modal_label2 %}{% endblock modal_label1 %}

{% block modal_title %}Продать ананасы{% endblock modal_title %}

{% block action_url %}{% url 'admin:sell_pineapples' %}{% endblock action_url %}

{% block modal_form_id %}idSellPineapplesModalForm{% endblock modal_form_id %}

{% block modal_body %}
    <div id="id_sell_pineapples_errors"></div>
    <div class="form-group g-3">
        <label for="id_sell_pineapples_count">Введите количество ананасов, которое хотите продавать</label>
        <input id="id_sell_pineapples_count" type="number" class="form-control" min="0" name="pineapples_count">
    </div>
    <div class="form-group g-3">
        <label for="id_sell_pineapples_seconds">Введите частоту продажей, в секундах</label>
        <input id="id_sell_pineapples_seconds" type="number" class="form-control" min="0" name="pineapples_seconds">
    </div>
{% endblock modal_body %}

{% block modal_footer_submit_button %}danger{% endblock modal_footer_submit_button %}

{% block modal_footer_submit_button_label %}Продать{% endblock modal_footer_submit_button_label %}